{% extends "base.html"%}
{% block content %}
<div class="container">
<div class="row">
	<div class="col-xs-12">      

<h1>Bienvenue sur Genetics </h1>
<h3>Une application web d'analyse de séquence génétique en projet </h3>
<h5>Cette application permet d'accéder à:</h5>
<ul>
<li>La composition de la séquence</li>
<li>La température de dénaturation</li>
<li>La traduction en acide-aminé de la séquence</li>
<li>La rechecherche de motif simple et/ou complexe (expression régulière)</li>
<li>L'analyse de la "signature" de la séquence par taille de motif</li>
</ul>

<h4>Faire une analyse:</h4>

<h5>Entre ta séquence: (Séquence ADN brut ou format FASTA)<br><h5>
<form action="" method="post" name="sequenceADN">
{{form.hidden_tag()}}
{{form.sequenceADN(rows='25',cols='100')}} <br>
<p>{{ form.motifsimpleBool }} Recherche Motif Simple {{ form.motifsimple(size=20) }}</p>

<p>{{ form.motifcomplexeBool }} Recherche Motif Complexe {{ form.motifcomplexe(size=20) }}</p>
<p>{{ form.signatureBool }} Signature {{ form.signature(size=20) }}</p>
<button type="sumbit">Lancer l'analyse !</button> </form>

</div></div></div>
{% endblock %}